body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.content h1 {
    text-align: center;
}
#unityContainer {
    width: 960px;
    height: 600px;
    background: #000;
}
.api-data {
    width: 960px;
    margin-top: 20px;
}
.api-data h2 {
    text-align: center;
}
.card, .player-info, .player-match {
    background: #444;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}