/* Body global */
body, html {
    margin: 0;
    padding: 0;
    font-family: "Pixelify Sans", sans-serif;
    background-color: #d9d9d9;
    color: #333;
    min-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Navegacion */
nav {
    width: 100%;
    background-color: #333;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav .site-title {
    font-size: 1.5em;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #575757;
    color: #ffcc00;
}

/* Contenido Home */
.content {
    text-align: center;
    padding: 80px 20px;
    width: 100%;
    margin-top: 45px; 
    background-color: #1e1e1e;
}

/* Contenedor Unity */
#unityContainer {
    width: 100%;
    max-width: 960px;
    height: 60vh;
    background: #000;
    border: 2px solid #333;
    margin: 20px auto;
}

h1 {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 2.5em;
    color: #ffffff;
    margin-bottom: 20px;
}

h2 {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #cccccc;
}

/* Pagina .about */
.about-section {
    padding: 8vh 2vw;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-content {
    max-width: 80vw;
    text-align: center;
    align-items: center;
}

.howToPlay{
    justify-content: center;
    align-items: center;
    margin:2em 0;
}

.about-content h3 {
    font-size: 1.3em;
    margin-bottom: 10px;
    color: #333;
}

.about-content p {
    font-size: 1em;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
}

.about-content .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffcc00;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.about-content .button:hover {
    background-color: #ff9900;
}

/* Pagina .stats */
.stats-section {
    padding: 2em 2em;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.stats-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ffffff;
}

.stats-section .card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.stats-section .card {
    width: 30%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
}

.stats-section .card-content h3 {
    color: #333;
}

.chart-container{
    display: flex;
}

#matchResultsChart{
    width: 500px;
    height: 500px;
    margin-right: 4em;
}

.barCharts canvas{
    width: 500px;
    height: 250px;
    margin-left: 4em;
}

/* Pagina .code */
.code-section {
    padding: 8vh 2vw;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.code-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.code-section .card-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: nowrap; 
    width: 100%;
    margin-top: 20px;
}

.card-container .card {
    flex: 1 0 30%; 
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    box-sizing: border-box; 
    text-align: center;
}

.card-container .card img {
    width: 100%; 
    height: auto;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .card-container .card {
        flex: 1 0 100%; 
    }
}


/* Pagina .credits */
.credits-section {
    padding: 4vh 2vw;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.credits-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ffffff;
}

.credits-content {
    max-width: 80vw;
    text-align: center;
}

.credits-content p,
.credits-content ul {
    color: #cccccc;
}

.credits-content ul {
    list-style-type: none;
    padding: 0;
}

.credits-content ul li {
    margin-bottom: 10px;
}

/* Pie de pagina - copyright */
footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
