<!DOCTYPE html>
<html lang="es">
<head>
    <title>About</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/credits">Credits</a></li>
            <li><a href="/stats">Stats</a></li>
            <li><a href="/code">Code</a></li>
        </ul>
    </nav>
    <div class="content">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quibusdam rerum suscipit numquam temporibus reprehenderit, ducimus illo recusandae dolorem corporis dolores vitae soluta aspernatur obcaecati repellendus nemo est officiis eum?</p>
    </div>
</body>
</html>
