<!DOCTYPE html>
<html lang="es">
<head>
    <title>Credits</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/credits">Credits</a></li>
            <li><a href="/stats">Stats</a></li>
            <li><a href="/code">Code</a></li>
        </ul>
    </nav>
    <div class="content">
        <h1>Credits</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Deleniti amet dignissimos similique, nemo libero recusandae delectus 
             aliquam, optio commodi incidunt minima. Amet rem, blanditiis quidem possimus 
             aliquid beatae eos modi?</p>
    </div>
</body>
</html>
