<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost Illusion</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="content">
        <h1>Lost Illusion</h1>
        <div id="unityContainer"></div>
        <div class="api-data" id="cards-container"></div>
        <div class="api-data" id="player-info"></div>
        <div class="api-data" id="player-matches"></div>
    </div>
    <script src="Build/UnityLoader.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>
